body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}

header {
    background-color: #e0e0e0;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.line {
    border: none;
    height: 3px;
    background: #cc4bc1;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    color: #333;
    margin-top: 0;
}

.coach {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.coach p {
    margin: 6px 0;
}

.coach-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.btn {
    background-color: #ce8bc0;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #b870aa;
}

.top-buttons {
    text-align: right;
    margin-bottom: 20px;
}

.top-buttons .btn {
    display: inline-block;
}
.form-container {
    max-width: 500px;
    margin: 30px auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
}

.form-container select,
.form-container input[type="date"] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: 0.3s;
}

.form-container select:focus,
.form-container input[type="date"]:focus {
    border-color: #888;
    outline: none;
}